.space-between {
    margin: 10px;
}

.btn-info {
	background-color: slategray;
	border-color: slategray;
}

.btn-secondary {
    background-color: slategray;
}

.btn-primary {
    background-color: slategrey;
    border-color: slategrey;
}

.col-form-label{
    font-weight: bold; 
}