.error {
    color: red !important;
    font-weight: 400;
}

.btn-info {
	background-color: slategray;
	border-color: slategray;
}

.btn-secondary {
    background-color: slategray;
}

.btn-primary {
    background-color: slategrey;
    border-color: slategrey;
}

.col-form-label{
    font-weight: bold; 
}